* {
    margin: 0;
  }
  .container {
    width: 1320px;
    height: 226px;
    margin: auto;
  }
  
  form {
    padding: 15px;
  }
  
  .driver {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .formControl {
    width: 300px;
    height: 65px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  input {
    background-color: #f3f6f9;
    border: none;
    outline: none;
  }
  
  .formControl input[type="text"] {
    margin-top: 5px;
    border: none;
    height: 40px;
    border-radius: 3px;
    padding: 5px;
  }
  
  #oldDriverLicence {
    margin-top: 40px;
  }
  .driverLicenceLableBox {
    display: flex;
    justify-content: space-between;
  }
  
  .coefficient {
    margin-top: 25px;
    display: flex;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 3px;
    background-color: #f3f6f9;
  }
  .coefficient p {
    margin: auto;
    font-weight: bold;
  }
  p span {
    color: #38af43;
  }
  